In [2]:
import pandas as pd

Areas = pd.read_csv('Areas.csv', sep='\t')
Current = pd.read_csv('Current_Data.csv', sep='\t')
Items = pd.read_csv('Items.csv', sep='\t')
Periods = pd.read_csv('Period_Names.csv', sep='\t')
Series = pd.read_csv('Series.csv', sep='\t')

# NOTE: There are 335 rows of data for every item representing every change in month and year till 2022/Whenever some is reading this

# I cleaned the data and made the appropriate merges (there is WHITESPACE ** Make Sure To Clean Whitespace) **

complete_df = pd.merge(Series, Areas, on='area_code').merge(Current)
complete_df = complete_df.rename(columns = {'series_id        ': 'series_id', '       value': 'value'})

complete_df['series_id'] = complete_df['series_id'].str.strip()
complete_df['value'] = complete_df['value'].str.strip()

#complete_df['value'] = complete_df['value'].astype('float')


# I am writing a function to calculate CPI

def cpiCalc(base_year, base_month, code, current_year, current_month, code2):
    base_time = complete_df[(complete_df.year == base_year) & (complete_df.period == base_month) & (complete_df['series_id'] == code)]
    current_time = complete_df[(complete_df.year == current_year) & (complete_df.period == current_month) & (complete_df['series_id'] == code2)]
    base_year_value = base_time.value
    current_time_value = current_time.value
    return base_year_value 



cpiCalc(2019, 'M01', 'APUS49G7471A', 2022, 'M01', 'APUS49G7471A')


# Data Link: https://download.bls.gov/pub/time.series/ap

,series_id,area_code,item_code,series_title,footnote_codes,begin_year,begin_period,end_year,end_period,area_name,year,period,value
0,APU0000701111,0000,701111,"Flour, white, all purpose, per lb. (453.6 gm) ...",NaN,1980,M01,2022,M10,U.S. city average,1995,M01,0.238
1,APU0000701111,0000,701111,"Flour, white, all purpose, per lb. (453.6 gm) ...",NaN,1980,M01,2022,M10,U.S. city average,1995,M02,0.242
2,APU0000701111,0000,701111,"Flour, white, all purpose, per lb. (453.6 gm) ...",NaN,1980,M01,2022,M10,U.S. city average,1995,M03,0.242
3,APU0000701111,0000,701111,"Flour, white, all purpose, per lb. (453.6 gm) ...",NaN,1980,M01,2022,M10,U.S. city average,1995,M04,0.236
4,APU0000701111,0000,701111,"Flour, white, all purpose, per lb. (453.6 gm) ...",NaN,1980,M01,2022,M10,U.S. city average,1995,M05,0.244